/* Стили для всей страницы */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#root {
    display: flex;
    justify-content: center;
}

/* кнопки */

.btn {
    margin: 5px;
    background-color: #ffffff; 
    border-radius: 3px;
    border: 2px solid #4CAF50; 
    color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}


.btn {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #4CAF50; 
    color: white;
}


/* стили приложений на странице */

.App {
    width: 800px;
}

.start_content {
    margin-top: 10px;
}

.app_content {
    margin-bottom: 10px;
    margin-right: 1px;
    margin-left: 1px;
    background-color: rgba(253, 215, 0, 0.705);
    border-radius: 10px;
    padding: 10px;

}
.app_content:hover {
    margin-bottom: 6px;
    margin-right: 0px;
    margin-left: 0px;
    border-bottom: 4px solid rgb(195, 195, 255);
    border-right: 1px solid rgb(195, 195, 255);
    border-left: 1px solid rgb(195, 195, 255);
}

.app_content_title {
    display: flex;
    font-size: 23px;
    font-weight: lighter;
    margin-bottom: 10px;

}
.app_content_title::before {
    content: "";
    display: flexbox;
    width: 7px;
    height: 25px;
    background-color: #4CAF50;
    border-radius: 10px;
    margin-right: 5px;
}


/* Стили для постов */
.post {
    display: flex;
    padding: 15px;
    border: 2px solid rgb(255, 106, 7);
    border-radius: 10px;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__title {
    font-size: 25px;
    font-weight: bold;
}

.post__body {
    font-size: 21px;
}

.post__list{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Стили для Counter */
.count {
    display: inline;
}

.count__box{
    margin-right: 10px;
}

.dead__insade {
    font-size: 60px;
    float: right;
    color: red;
    display: inline;
    margin-top: -25px;
}

.app_form{
    position: absolute;
    top:35px;
    left: 15%;
    width: 250px;
    height: 320px;
    background-color:coral;
    border: #ffffff solid 1px;
    border-radius: 20px;
    justify-content: center;
    padding: 35px;
}

.app_form form{
    display: absolute ;
    width: 200px;
    height: 150px;
    font-size: 18px;
}

.app_form_text{
    width: 90%;
    height: 40px;
    font-size: 25px;
}

.app_form_body{
    width: 181px;
    height: 136px;
}

/* .app_form button{
    margin-left: -9px;
    width: 100%;
    height: 50px;
    font-size: 17px;
    border-radius: 20px;
    background-color: rgb(238, 255, 0);
}

.app_form button:hover {
    color: black;
    border-radius: 24px;
    border-color: black;
} */